.side__content {
	gap: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	padding: 50px 50px;

	/*		Filter			*/

	.block__select {
		width: 100%;
		padding: 0 20px;
		height: fit-content;
		background-color: rgb(82, 63, 209);
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 1rem;

		.block__filter-text {
			width: 100%;
			display: flex;
			justify-content: space-between;
			opacity: 0.9;
			color: rgb(255, 255, 255);
		}

		.select-range {
			width: 100%;
		}
	}

	/*		Result			*/

	.block__result {
		width: 100%;
		height: 100px;
		background-color: rgb(255, 255, 255);
		border-radius: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			color: black;
			font-size: 24px;
		}
	}

	.confirm__block {
		clip-path: polygon(0% 0%, 80% 0px, 100% 40%, 100% 100%, 0% 100%);
		width: 80%;
		height: 450px;
		padding: 30px;
		background-color: rgb(65, 77, 135);
		border-radius: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 20px;

		.confirm__btn {
			width: 150px;
			height: 50px;
			border-radius: 1rem;
			cursor: pointer;
			border: 0.7px black solid;
			font-size: 22px;
		}

		.confirmed__result {
			height: 100px;
			width: 300px;
			border-radius: 0.7rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgb(0, 0, 0);
			color: rgb(255, 255, 255);
			font-size: 29px;
		}
	}
}

.models__container {
	user-select: none;
	width: 100%;
	padding: 30px;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 30px;

	color: white;
	ul {
		list-style: none;

		cursor: pointer;
		transition: 0.5s ease;
	}
	ul li:hover {
		transform: translateX(10px);
		color: rgb(48, 61, 146);
	}

	.brand__item {
		transition: 0.5s ease-in-out;

		font-size: 22px;
	}

	.brand__item:hover {
		transition: 1s ease-in-out;

		content: '';
		color: aqua;
	}

	.model__list {
		color: white;
		height: 70px;
		overflow-x: hidden;
		overflow-y: scroll;
		display: none;
		background-color: #9794c7;
		border-radius: 0.4rem;
		transition: 0.5s ease-in-out;

		.model__item {
			font-size: 15px;
		}
	}

	.model__list::-webkit-scrollbar {
		width: 10px;
		background-color: transparent;
	}
	.model__list::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #fff;
		background-image: -webkit-linear-gradient(
			top,
			#42457c 0%,
			#4b5a8b 50%,
			#38578b 51%,
			#1b3867 100%
		);
	}
}
